.error-text {
  font-family:'Pathway Gothic One';
  font-weight:800;
}

.error-message {
  font-size:18px;
}

.error-div {
  max-width:250px;
  margin:auto;
}

.vertical-align {
  text-align:center;
  transform:translate(-50%, -50%);
  top:40%;
  left:50%;
}

